.App {
  text-align: center;
}

.App-header {
  background-color: rgba(248, 248, 248, 0.82);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.slider-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
}

.slider {
  margin-left: 10px;
  margin-right: 10px;
}

.title-text {
  font-weight: bold;
}
